.layout {
  display: flex;
  min-height: 100vh;
  background: #f7f7f8;
}

.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.layout-content {
  padding: 16px 20px;
}
/* Khi mobile, layout chuyển thành dạng dọc */
@media (max-width: 768px) {
  .layout {
    flex-direction: column;
  }

  .layout-main {
    width: 100% !important;
  }
}

