:root {
  font-family: "Raleway", sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-border-width: 1px;
  --main-color: #61432b;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
#root {
  font-family: "Raleway", sans-serif !important;
  margin: auto;
  padding: 0;
  width: 100%;
  height: 100%;
  scroll-behavior: smooth;
}
.text-main-color {
  color: #4e423d;
}
.my-dropdown {
  width: 150px;
}
.my-dropdown .ant-dropdown-menu-item {
  color: #4e423d !important;
}
.text-32 {
  font-size: 32px;
}
.text-16 {
  font-size: 16px;
}
.bg-color {
  background-color: #fdfbf5;
}
.main-font {
  font-family: "Raleway", sans-serif !important;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-6 {
  margin-top: 2rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.pb-3 {
  padding-bottom: 1rem !important ;
}
.pb-6 {
  padding-bottom: 2rem !important;
}
.pt-3 {
  padding-top: 1rem !important;
}
.pt-6 {
  padding-top: 2rem !important;
}
.mb-2 {
  margin-bottom: 0.6rem !important;
}
.als-start {
  align-self: flex-start;
}
.newHeight {
  height: 50px;
}
.btn {
  display: inline-block;
  min-width: 120px;
  font-size: 14px;
  font-weight: 600;
  height: 40px;
  text-align: center;
  padding: 0 16px;
}

.btn-primary:hover {
  border: none !important;
  background-color: var(--main-color) !important;
  color: #f7f4e7 !important;
}

.btn-primary {
  border: 1px solid var(--main-color);
  background-color: #f7f4e7;
  color: var(--main-color);
}

.btn-second:hover {
  background-color: #7b4418 !important;
  color: #f7f4e7 !important;
}

.btn-second {
  border-radius: 25px;
  background-color: #a2734c;
  color: #f7f4e7;
}
.fl-center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-bar {
  position: sticky; /* hoặc sticky nếu muốn dính khi cuộn tới */
  top: -10px;
  background-color: #fdfbf5;
  z-index: 1000; /* nằm trên cùng */
}
.animate-on-scroll {
  opacity: 0;
  transition: opacity 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    transform 0.9s cubic-bezier(0.22, 1, 0.36, 1),
    filter 0.9s cubic-bezier(0.22, 1, 0.36, 1);
}

.fade-right {
  transform: translateX(-100px);
}

.fade-left {
  transform: translateX(100px);
}
.fade-up {
  transform: translateY(70px);
}

.is-visible {
  opacity: 1;
  transform: translate(0, 0);
}

.bound {
  min-height: 100%;
  width: 100%;
  text-align: start;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.bound div {
  flex-direction: column;
  flex: 1;
  width: 100%;
}
/* Change ant-design

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #b96d2a !important;
  border-color: #b96d2a !important;
}

.ant-checkbox-wrapper:hover .ant-checkbox-inner,
.ant-checkbox:hover .ant-checkbox-inner {
  border-color: #b96d2a !important;
}

.ant-checkbox-checked .ant-checkbox-inner::after {
  border-color: white !important;
}

/* Viền Input khi lỗi */
.ant-input-status-error,
.ant-input-affix-wrapper-status-error {
  border: none !important;
  box-shadow: #f89831 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px !important;
}

/* Màu chữ thông báo lỗi */
.ant-form-item-explain-error {
  color: #f89831 !important;
}

/* ================= Focus ================= */
.ant-input-affix-wrapper-focused,
.ant-input:focus {
  border-color: #b96d2a !important;
  box-shadow: 0 0 0 2px rgba(185, 109, 42, 0.35) !important;
}

.ant-input-affix-wrapper-focused .ant-input-suffix {
  color: #b96d2a !important;
}

/* ================= Hover ================= */

.ant-input:hover:not(.ant-input-focused) {
  border-color: #b96d2a !important;
}

.ant-input-affix-wrapper:hover:not(.ant-input-affix-wrapper-focused) {
  border-color: #b96d2a !important;
}

.ant-input-affix-wrapper:hover .ant-input-suffix {
  color: #b96d2a !important;
}

/* ================= Transition ================= */
.ant-input,
.ant-input-affix-wrapper {
  transition: border-color 0.25s ease, box-shadow 0.25s ease, color 0.25s ease;
}

/* ------------------------------------ */
.custom-form .ant-form-item-label {
  padding-bottom: 2px !important; /* Mặc định là 8px, chỉnh nhỏ lại tùy ý */
}

.custom-form .form-item {
  margin-bottom: 20px;
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
