/* Layout chính */
.layout {
  display: flex;
  height: 100vh;
  width: 100%;
  background: #f7f7f8;
  overflow: hidden; /* ngăn tràn ngang */
}

/* Phần main (Header + Content) */
.layout-main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
 
}

/* Header: cố định trên cùng, KHÔNG cuộn */
.header-container {
  height: 75px;
  flex-shrink: 0;
  position: sticky;   /* cố định trên cùng */
  top: 0;
  z-index: 300;
  background: #fff;
  border-bottom: 1px solid #e5e7eb;
}

/* Nội dung: CHỈ phần này được cuộn */
.layout-content {
  flex: 1;
  overflow-y: auto;   /* cho phép cuộn dọc */
  overflow-x: hidden;
  padding: 16px 20px;
  box-sizing: border-box;
  width: 100%;
}
