<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hus Bakery{% endblock %}</title>
    </head>
<body>
    <nav>
        <a href="{{ url_for('auth.index') }}">Trang chủ</a> |
        <a href="{{ url_for('auth.signup') }}">Đăng ký</a> |
        <a href="#">Đăng nhập</a>
    </nav>
    <hr>

    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul class="flashes">
            {% for category, message in messages %}
                <li class="{{ category }}" style="color: {{ 'green' if category == 'success' else 'red' }};">
                    {{ message }}
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}

    <div class="content">
        {% block content %}{% endblock %}
    </div>

</body>
</html>