{% extends "base.html" %}

{% block content %}
<div class="container" style="max-width: 400px; margin-top: 50px;">

    <form class="form-signup" role="form" action="{{ url_for('auth.signup') }}" method="POST">

        <h2 class="form-signup-heading">Please sign up</h2>

        {{ form.hidden_tag() }}

        <div class="form-group">
            {{ form.name(class="form-control", placeholder="Username", autofocus=True) }}

            {% for error in form.name.errors %}
                <div class="alert alert-danger" style="padding: 5px; margin-top: 5px;">{{ error }}</div>
            {% endfor %}
        </div>
        <br>

        <div class="form-group">
            {{ form.email(class="form-control", placeholder="Email address") }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" style="padding: 5px; margin-top: 5px;">{{ error }}</div>
            {% endfor %}
        </div>
        <br>

        <div class="form-group">
            {{ form.phone(class="form-control", placeholder="Phone Number") }}
            {% for error in form.phone.errors %}
                <div class="alert alert-danger" style="padding: 5px; margin-top: 5px;">{{ error }}</div>
            {% endfor %}
        </div>
        <br>

        <div class="form-group">
            {{ form.password(class="form-control", placeholder="Password") }}
            {% for error in form.password.errors %}
                <div class="alert alert-danger" style="padding: 5px; margin-top: 5px;">{{ error }}</div>
            {% endfor %}
        </div>
        <br>

        <div class="form-group">
            {{ form.confirm(class="form-control", placeholder="Confirm Password") }}
            {% for error in form.confirm.errors %}
                <div class="alert alert-danger" style="padding: 5px; margin-top: 5px;">{{ error }}</div>
            {% endfor %}
        </div>
        <br>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
    </form>
</div>
{% endblock %}