
:root {
  font-family: "Raleway", sans-serif !important;
  line-height: 1.5;
  font-weight: 400;
  box-sizing: border-box;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --bs-border-width: 1px;
}
* {
  padding: 0;
  margin: 0;
}
html,
body,
#root {
  font-family: "Raleway", sans-serif !important;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
.m-0 {
  margin: 0;
}
.p-0 {
  padding: 0;
}
.mt-3 {
  margin-top: 1rem !important;
}
.mt-6 {
  margin-top: 2rem !important;
}
.mb-3 {
  margin-bottom: 1rem !important;
}
.mb-2 {
  margin-bottom: 0.6rem !important;
}
.als-start {
  align-self: flex-start;
}
.newHeight {
  height: 50px;
}
.btn {
  height: 40px;
  font-size: 17px;
  font-weight: 600;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
